[defaults]
# Location of your inventory file
inventory = ./hosts

# Default module to use for executing tasks
module_name = ansible.builtin.shell

# Location to store logs
log_path = /data/implementation/ansible/dr/ansible.log

# Default remote user to use for SSH connections
ask_become_pass = True

# Enable gathering of facts about the system
gathering = smart

# Enable host key checking for SSH
host_key_checking = False
